<!DOCTYPE html>
<html>
  <head>
    <title>OMB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

      
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= link_to ' マイページ', user_path(current_user.id), class: 'glyphicon glyphicon-user users' %></li>
              <%= link_to ' 新規投稿', new_blog_path, class: 'glyphicon glyphicon-user users' %></li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign up",new_user_registration_path, class:"glyphicon glyphicon-edit" %>
              <%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <%= yield %>
  </body>
</html>
